body{

	/*background: url(https://i.pinimg.com/originals/18/e2/0a/18e20a2bac87f8442057f3931e3a6c2e.png) 50% 50% ;
	background-repeat: no-repeat; /*pii chai; pikai, s trima brtq ot kitai*/
	/*background-position: center; /* Center the image */
	/*box-shadow: inset 0 0 50px 20px #4d0000;*/
	background-color: #4d0000; 
}


th{
	list-style-type: none;
}
tr{
	size: 1px 1px;
}
.button{
	background-color: #330000; 
}
img{
	
	z-index: -1;
	box-shadow: inset 0 0 50px 90px #4d0000;
	border-image: none;
}
#plqk{
	display: block;
	size: auto;
	position: relative;
	top: -200px;
	margin-left: auto;
  margin-right: auto;
}

p{
	padding: 20px;
}
.button{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
 	padding: 3px 3px;
 	border: 1px solid;
 	border-color: #d6c6ad;
 	opacity: 0.9;
 	transition: 0.3s;

 	text-align: center;
 	text-decoration: none;

}
nav{
	width: 300px;
	margin:auto;
	text-align: center;
	font-family: bender;
	font-size: 120%;
	font-weight: bold;
	border: 1px double #e7e7e7;
 	background-color: #5B4040;

}

a{
	opacity: 0.9;
 	transition: 0.3s;
 }

 a:hover{
 	text-decoration: none;
 }


.button > a{
	color: white;
}



.button:hover{
	opacity: 1;
  	background-color: #936c6a;
  	text-decoration: none;
}

.button:active{
	color: black;
	background-color: #d6c6ad; 
}
.button:active > a{
	color: black;
}