body{

	/*background: url(https://i.pinimg.com/originals/18/e2/0a/18e20a2bac87f8442057f3931e3a6c2e.png) 50% 50% ;
	background-repeat: space; /*pii chai; pikai, s trima brtq ot kitai*/
	/*background-position: fixed; /* Center the image */
	background-color: #4d0000; 
}

img{
	position: fixed;
	top:0;
	width: 100%;
	height: 100%;
  	size: auto;
	top: -550px;
	height: auto;
	z-index: -1;
	box-shadow: inset 0 0 50px 20px #4d0000;


}
#plqk{
	margin:auto;
	padding: auto;
	position: absolute;
	text-align: center;
	box-shadow: inset 0 0 50px 20px #4d0000;
}
.button{
	background-color: #330000; 
}
p{
	margin:auto;
	
}
.maintext{
	display: block;

	margin-top: 400px;
	padding: 70px;
	opacity: 0.8;
	font-family: bender;
	font-size: 120%;
	color: white;
	text-align: center;
	background-color: #4d0000;
}
#bam{
	margin:auto;
	opacity: 0.3;
	font-family: bender;
	font-size: 120%;

}


.bam2{
	margin:auto;
	font-family: bender;
	font-size: 120%;
	opacity: 0.1;
	background-color: red;

}
.bam2:hover{
	transition: 0.5s;
	background:green;
	opacity: 1;
}
.button{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
 	padding: 3px 3px;
 	border: 1px solid;
 	border-color: #d6c6ad;
 	opacity: 0.9;
 	transition: 0.3s;

 	text-align: center;
 	text-decoration: none;

}
div{	
	

 	text-align: center;

}
nav{
	width: 300px;
	margin:auto;
	padding: auto;
	text-align: center;
	font-family: bender;
	font-size: 120%;
	font-weight: bold;
	border: 1px double #e7e7e7;
 	background-color: #5B4040;

}

a{
	opacity: 0.9;
 	transition: 0.3s;
 }

 a:hover{
 	text-decoration: none;
 }


.button > a{
	color: white;
}



.button:hover{
	opacity: 1;
  	background-color: #936c6a;
  	text-decoration: none;
}

.button:active{
	color: black;
	background-color: #d6c6ad; 
}
.button:active > a{
	color: black;
}